body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0px;
}
.banner {
  width: 100%;
  height: auto;
  background-color: #009189;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writing-banner {
  display: flex;
  padding-left: 0;
}
.nav-list {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding-left: 50px;
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list a {
  all: unset;
  cursor: pointer;
  color: inherit;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.2s;
  font-size: 25px;
}

.nav-list a:active,
.nav-list a:focus,
.nav-list a:hover {
  background: #007a73;
}

.nav-list input[type="text"] {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  background: #e0f7f6;
  color: black;
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-list input[type="text"]:focus {
  box-shadow: 0 0 0 2px #009189;
  background: white;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}